hardware/imbuelight_stair_controler_ver_1.0/History/*
build/*

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.log
[Bb]uild*/

/hardware/imbuelight_move_detection_ver_1.0/__Previews/*
/hardware/imbuelight_move_detection_ver_1.0/History/*
